// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    font-weight: 400;
    overflow-x: hidden;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    margin: 0;

    @include respond-to('tiny'){
        font-size: 12px;
    }
}

a{
    color: $white;
    text-decoration: unset ;
}

h1{
    font-weight: 800;
}

h2{
    font-weight: 800;
}

b{
    font-weight: 600;
}
