// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
// - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)


// - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
// - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
// - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
// - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

// Both
$white:hsl(0, 0%, 100%);


// Dark Theme colors
$dark-elements: hsl(209, 23%, 22%);
$dark-background: hsl(207, 26%, 17%);
$dark-text: $white;

// Light Theme Colors
$light-elements: $white;
$light-backgound: hsl(0, 0%, 98%);
$light-input: hsl(0, 0%, 52%);
$light-text: hsl(200, 15%, 8%);

// device-breakpoints
// https://sass-guidelin.es/#responsive-web-design-and-breakpoints
$breakpoints: (
  'tiny':(max-width: 375px),
  'small': (max-width: 600px),
  'medium': (max-width: 800px),
  'large': (max-width: 1400px),
);