// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.page{
    max-width: 1300px ;
    margin: auto;
    width: 90%;
}