/* In the above piece of code we have used mixin. Mixin is something which takes value from includes.
  here our mixin name is respond-to, include requires the name reference to send value to minin

  1) Raw Query is a variable which is storing mapped breakpoints from include
  2) ln:8 is a if statement which is taking raw-query and i. converting the mapped value to string ii. removing quotes form raw query iii. represents the value in string
  3) some debugging has been shown with the debug command
  4) the converted raw query is stored in query variable and sent in media queries
  5) a conditional statement has been put if the given breakpoint include does not exist and also an error is thrown
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
body, button {
  box-sizing: border-box;
  padding: 0;
  font-weight: 400;
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
}
@media (max-width: 375px) {
  body, button {
    font-size: 12px;
  }
}

a {
  color: hsl(0deg, 0%, 100%);
  text-decoration: unset;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 800;
}

b {
  font-weight: 600;
}

.full {
  min-height: 100vh;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin: auto;
}
@media (max-width: 800px) {
  .countries {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    line-height: 1;
  }
}

.nav {
  height: 70px;
  background-color: hsl(209deg, 23%, 22%);
}

.container {
  max-width: 1300px;
  display: flex;
  width: 90%;
  height: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.container div {
  margin: 0px 0px;
}

.sortContainer {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
  width: 100%;
}
.sortContainer div {
  display: flex;
  box-shadow: 0 0.2rem 1.6rem rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  padding: 20px 40px;
  max-width: 25rem;
}
.sortContainer div input {
  border: none;
  width: 100%;
}
.sortContainer select {
  border: none;
  box-shadow: 0 0.2rem 1.6rem rgba(0, 0, 0, 0.1);
  color: inherit;
  padding: 20px 40px;
  border-radius: 5px;
}
.sortContainer textarea:focus, .sortContainer input:focus {
  outline: none;
}
@media (max-width: 800px) {
  .sortContainer {
    flex-direction: column;
  }
  .sortContainer div {
    width: auto;
    margin: 20px;
  }
  .sortContainer select {
    width: 50%;
    margin: 20px;
    padding: 20px 20px;
  }
}

.search-icon {
  font-size: 1rem;
  padding-right: 10px;
}

.country-containers {
  margin-top: 80px;
  display: flex;
  gap: 10%;
}
.country-containers div {
  flex: 1;
}
@media (max-width: 800px) {
  .country-containers {
    flex-direction: column;
    line-height: 1;
  }
}

.flag-container {
  margin: auto;
}
.flag-container img {
  width: 85%;
}
@media (max-width: 800px) {
  .flag-container {
    margin: auto;
  }
}
.flag-container img {
  width: 100%;
}

.country-inpage-info p {
  line-height: 0.8;
}
@media (max-width: 800px) {
  .country-inpage-info {
    width: 95%;
    margin: auto;
  }
  .country-inpage-info p {
    width: 100%;
  }
}

.country-info-top {
  display: flex;
}
.country-info-top div {
  flex: 1;
}
@media (max-width: 800px) {
  .country-info-top {
    flex-direction: column;
  }
}

.country-info-bottom {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.country-info-bottom b {
  margin-right: 20px;
}
.country-info-bottom a {
  margin: 10px 5px;
}

.backButton {
  border: none;
  box-shadow: 0 0.2rem 1.6rem rgba(0, 0, 0, 0.1);
  padding: 15px 40px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
.backButton span {
  padding-left: 10px;
}

.borderButton {
  border: none;
  box-shadow: 0 0.2rem 1.6rem rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
.borderButton span {
  padding-left: 10px;
}

.darkModeText {
  border: none;
  font-weight: 600;
}

.box {
  width: 280px;
  background-color: hsl(209deg, 23%, 22%);
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0 0.2rem 1.6rem rgba(0, 0, 0, 0.1);
}

.country-flag {
  width: 100%;
  max-width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.country-info {
  padding: 15px 30px 40px 30px;
}
.country-info p {
  line-height: 0.7;
}

.page {
  max-width: 1300px;
  margin: auto;
  width: 90%;
}

.country-page {
  width: 90%;
  padding-top: 70px;
  font-size: 16px;
}

.theme--light .myClassBackground {
  color: hsl(200deg, 15%, 8%);
  background: hsl(0deg, 0%, 98%);
}
.theme--dark .myClassBackground {
  color: hsl(0deg, 0%, 100%);
  background: hsl(207deg, 26%, 17%);
}

.theme--light .myClassElement {
  color: hsl(200deg, 15%, 8%);
  background: hsl(0deg, 0%, 100%);
}
.theme--dark .myClassElement {
  color: hsl(0deg, 0%, 100%);
  background: hsl(209deg, 23%, 22%);
}

.theme--light .myClassPlaceHolder {
  color: hsl(0deg, 0%, 52%);
}
.theme--dark .myClassPlaceHolder {
  color: hsl(0deg, 0%, 100%);
}

.theme--light .myClassPlaceHolder::placeholder {
  color: hsl(0deg, 0%, 52%);
}
.theme--dark .myClassPlaceHolder::placeholder {
  color: hsl(0deg, 0%, 100%);
}
