// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.backButton{
    background-color: $dark-elements;
    border: none;
    box-shadow: 0 0.2rem 1.6rem rgb(0 0 0 / 10%);
    padding: 15px 40px;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    & span {
        padding-left: 10px;
    }
}

.borderButton{
    background-color: $dark-elements;
    border: none;
    box-shadow: 0 0.2rem 1.6rem rgb(0 0 0 / 10%);
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    & span {
        padding-left: 10px;
    }
}