.country-page-top{
    // display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.country-containers{ 
    margin-top: 80px;
    display: flex;
    & div {
        flex: 1;
    }
}

.country-info-top{
    display: flex;
    & div {
        flex: 1;
    }
}
.flag-container {
    & img {
        width: 70%;
    }
}