
.sortContainer{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    width: 100%;
    // max-width: 50rem;
        & div {
            display: flex;
            background-color: $dark-elements;
            box-shadow: 0 0.2rem 1.6rem rgb(0 0 0 / 10%);
            border-radius: 5px;
            width: 100%;
            padding: 20px 40px;
            max-width: 25rem;
            color: $white;
            & input {
            background-color: $dark-elements;
            border: none;
            width: 100%;
            caret-color: $white;
            color: $white;
            }
        }

        & select {
            border: none;
            box-shadow: 0 0.2rem 1.6rem rgb(0 0 0 / 10%);
            background-color: $dark-elements;
            color: inherit;
            padding: 20px 40px;
            border-radius: 5px;
        }
        & input::placeholder{
            color: $white;
            size: 1rem;
        }
         & textarea:focus, input:focus{
            outline: none;
        }
        @include respond-to('medium'){
            flex-direction: column;
            & div {
                width: auto;
                margin: 20px;
            }
            & select{
                width: 50%;
                margin: 20px;
                padding: 20px 20px;
            }
        
        }

}

.search-icon{
    font-size: 1.2rem;
    padding-right: 10px;
}